<!DOCTYPE html>
<html>
<head>
	<title>Журнал</title>
	{% load bootstrap5 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="{% static 'teachers_common.css' %}"/>
</head>

<body class='gradient-custom vh-100'>

	<div class='container my-3'>
		<div class='row'>

			<div class='col-md-3'>
				<div class="py-3 side-menu bg-light shadow-lg rounded">
					<div class='mt-2 mx-2 bg-theme rounded-pill'>
						<p class='fs-5 text-light fw-bold px-1 mx-2 py-2 text-center'><i class="fs-4 bi bi-book px-2 py-1"></i>Электронный журнал</p>
					</div>
					<hr>
					<ul class="nav nav-pills mx-2 flex-column mb-auto">
      					<li class="nav-item">
        					<a href="{% url 'teacher_dashboard' %}" class="nav-link link-dark">
          						<i class="bi bi-check2-square mx-2"></i>
          						Отметки
        					</a>
      					</li>
      					<li>
        					<a href="{% url 'teacher_mystudents' %}" class="nav-link link-dark">
          						<i class="bi bi-person mx-2"></i>
          						Ученики
        					</a>
      					</li>
      					<li>
        					<a href="{% url 'teacher_mystats' %}" class="nav-link active" aria-current="page">
          						<i class="bi bi-clipboard2-data mx-2"></i>
          						Статистика
        					</a>
      					</li>
      					<li>
        					<a href="{% url 'logout' %}" class="nav-link link-dark">
          						<i class="bi bi-door-open mx-2"></i>
          						Выйти
        					</a>
      					</li>
    				</ul>
				</div>
			</div>

			<div class='col-9'>
				<div class='main-panel h-100 bg-light rounded'>
					<p class='fs-3 pt-3 text-center fw-bold text-theme'>Преподаватель: {{ request.user.fio }}
					</p>
					<hr>


					<div class ='container my-3 pb-3'>
						<form id='form-table-controls' name='form-table-controls' method='post' action='{% url "teacher_mystats" %}'>
							{% csrf_token %}
						</form>

						<div class='row justify-content-between'>

							<div class="col-md-6">
								<p class="fs-2 fw-semibold text-theme fst-italic text-center mt-3"><i class="bi bi-clipboard2-data mx-2"></i>Статистика учеников</p>
							</div>

							<div class='col-3'>
								<label class="form-label">Выбрать предмет</label>
								<select name='given_subject' form='form-table-controls' class="form-select" aria-label="Default select example" onchange="$('#form-table-controls').submit()">
  									<option value="{% if selected_subject %}{{ selected_subject }}{% endif %}"selected>
  									{% if selected_subject %}
  										{{ selected_subject }}
  									{% else %}
  										Выберите предмет
  									{% endif %}
  									</option>
  									{% for subject in my_subjects %}
  										<option value="{{ subject }}">{{ subject }}</option>
  									{% endfor %}
									</select>
							</div>

						</div>
					</div>


					<div class="stat-table-container container rounded">
						<table class='table'>
							<thead>
								<tr>
									<th scope="col">Студент</th>
									<th scope="col" class="text-center">Посещаемость (%)</th>
									<th scope="col" class="text-center">Болел (%)</th>
									<th scope="col" class="text-center">Средний балл</th>
								</tr>
							</thead>
							<tbody>
								{% for fio,attended,ill,average in table %}
									<tr>
									<td scope="row" class="align-middle"><span class='fio-field fs-6 fw-bold'>{{ fio }}</span><br><span class='subject-field fst-italic'>{{ subject.name }}</span></td>
										<td class="cell-hover border align-middle text-center fs-5 fw-bold">{{ attended }}</td>
										<td class="cell-hover border align-middle text-center fs-5 fw-bold">{{ ill }}</td>
										<td class="cell-hover border align-middle text-center fs-5 fw-bold">{{ average }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if not table %}
						<p class='fs-3 pt-3 text-center fst-italic text-theme'>
							Сначала требуется добавить учеников...
						</p>
						{% endif %}
					</div>
			</div>
		</div>

	</div>

